.menu {
    background-color: rgba(128, 128, 128, 0.471);
}
a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: red;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  #pokemon-info{
    float: right;
    margin: 20%;
    
  }
  .selected-pokemon {
    border: 2px solid blue; /* Màu khung bao, bạn có thể thay đổi màu sắc tùy ý */
    border-radius: 5px; /* Độ cong góc của khung bao */
}
ul {
  list-style-type: none;
  padding: 0;
}